<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.email_field :mail, icon: 'envelope' %>
  <%= f.submit t('i18n.auth.login'), class: "btn btn-primary btn-block" %>
<% end %>

<%= @id %>
