<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th>Name</th>
      <th>Comment</th>
      <th>Logins</th>
      <th>Password at</th>
      <th>Perms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.mail %></td>
        <td><%= user.name %></td>
        <td><%= user.comment %></td>
        <td><%= user.sessions.count %></td>
        <td><%= user.password_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= user.perms %></td>
        <td><%= link_to 'S', user %>
        <%= link_to 'E', edit_user_path(user) %>
        <%= link_to 'D', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
