<h1>Albums</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Username</th>
      <th>API Key</th>
      <th>Network</th>
      <th>DC</th>
      <th>Container</th>
      <th>Owner</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.title, album %></td>
        <td><%= album.username %></td>
        <td><abbr title="<%= album.api_key %>">KEY</abbr></td>
        <td><%= album.network %></td>
        <td><%= album.datacenter %></td>
        <td><%= album.container %></td>
        <td><%= album.user.name %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
