<h1><%=t 'activerecord.models.album' %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.album.title' %></th>
      <th><%=t 'activerecord.attributes.album.username' %></th>
      <th><%=t 'activerecord.attributes.album.api_key' %></th>
      <th><%=t 'activerecord.attributes.album.network' %></th>
      <th><%=t 'activerecord.attributes.album.datacenter' %></th>
      <th><%=t 'activerecord.attributes.album.container' %></th>
      <th><%=t 'activerecord.attributes.user.name' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.title, album %></td>
        <td><%= album.username %></td>
        <td><abbr title="<%= album.api_key %>">KEY</abbr></td>
        <td><%= album.network %></td>
        <td><%= album.datacenter %></td>
        <td><%= album.container %></td>
        <td><%= album.user.name %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
