<h1><%= @album.title %></h1>
<div class="caos album list" id="">
  <div class="caos album discription">
    <%= @album.datacenter %> / <%= @album.container %> / <%= @album.network %>
    (<%= @album.user.name %>)
  </div>
  <style>
.thumbnaia.background {
  background-position: center;
}
  </style>
  <%= form_for(@selection) do |f| %>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <div class="thumbnail background" style="background: url(<%=
        thumb_path(id: @album.id,
                   etag: item[:hash],
                   object: url_encode(item[:name])) %>);">
        <div style="height: 100px"></div>
        <div class="caption" style="background: rgba(255, 255, 255, 0.3);">
          <%= link_to item[:name], item[:src] %><br/>
          <%= check_box_tag("photos[{etag: '#{item[:hash]}', object: '#{item[:name]}'}]") %>
          <%= number_with_delimiter item[:bytes], delimiter: ',' %> bytes
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= f.hidden_field :album_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit t('i18n.selection.create'), class: "btn btn-primary" %>
  <% end %>
</div>
