<h1><%= @album.title %></h1>
<div class="caos album list" id="">
  <div class="caos album discription">
    <%= @album.datacenter %> / <%= @album.container %> / <%= @album.network %>
    (<%= @album.user.name %>)
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag thumb_path(id: @album.id,
                                etag: item['etag'],
                                object: url_encode(item['object'])) %>
        <div class="caption">
          <%= link_to item['filename'], item['src'] %><br/>
          <%= number_with_delimiter item['bytes'], delimiter: ',' %> bytes
        </div>
        <!--
          <%= item['meta_album'] %>
          <%= item['etag'] %>
          <%= item['last_modified'] %>
        -->
      </div>
    </div>
    <% end %>
  </div>
</div>
