<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Username:</strong>
  <%= @album.username %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @album.api_key %>
</p>

<p>
  <strong>Network:</strong>
  <%= @album.network %>
</p>

<p>
  <strong>Datacenter:</strong>
  <%= @album.datacenter %>
</p>

<p>
  <strong>Container:</strong>
  <%= @album.container %>
</p>

<p>
  <strong>User:</strong>
  <%= @album.user %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
