<style>
.thumbnail.background {
  border: none;
  background-position: center !important;
  background-size: auto auto;
  background-repeat: no-repeat !important;
  padding: 0;
}
.thumbnail.background .caption {
  background: rgba(255,255,255,0,1);
  color: #222;
  text-shadow: 1px 1px 2px;
  line-height: 1.2rem;
  padding: 3px;
  border-radius: 3px;
}
.thumbnail.background .caption input[type="checkbox"] {
  margin: 0;
  vertical-align: text-top;
}
</style>

<h1><%= @album.title %></h1>
<div class="caos album list" id="">
  <div class="caos album discription">
    <%= @album.datacenter %> / <%= @album.container %> / <%= @album.network %>
    (<%= @album.user.name %>)
  </div>
  <%= form_for(@selection) do |f| %>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <div class="thumbnail background" style="background: url(<%=
        thumb_path(id: @album.id,
                   etag: item[:hash],
                   object: url_encode(item[:name])) %>);">
        <div style="height: 100px"></div>
        <div class="caption" style="background: rgba(255, 255, 255, 0.3);">
          <%= check_box_tag("photos[{etag: '#{item[:hash]}', object: '#{item[:name]}'}]") %>
          <%= link_to item[:name], item[:src] %><br/>
          <%= number_to_human_size item[:bytes], locale: :en %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= f.hidden_field :album_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit t('i18n.selection.save'), class: "btn btn-primary" %>
  <% end %>
</div>
