<h1><%= @selection.album.title %>#<%= @selection.id %></h1>
<div class="caos album list" id="">
  <div class="caos album discription">
    <%= @selection.album.datacenter %> / <%= @selection.album.container %> / <%= @selection.album.network %>
    (<%= @selection.album.user.name %>)
  </div>

  <div class="row">
    <% @selection.photos.each do |p| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag thumb_path(id: @selection.album.id,
                                etag: p[:etag],
                                object: url_encode(p[:object])) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
